@model Bookish.Models.UserListModel;
@using System.Collections.Generic; 


<div>
    <ol>
     @foreach (var person in @Model.UserList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(User => person.UserName)
                </td>
                <td>
                    @Html.DisplayFor(User =>person.UserDOB)
                </td>
                <td>
                    @Html.DisplayFor(User =>person.AmountBorrowedByUser)
                </td>
                <td>
                    <form asp-controller="Accounts" method="POST" asp-action="Delete" asp-route-id="@person.UserId" ><button type="submit"> Delete</button></form>
                    @* <form asp-controller="book" method="POST"    asp-action="checkout" asp-route-id="@person.UserId" >
                        <button type="submit"> Checkout books</button>
                        </form> *@
                </td>
            </tr>
        }

</ol>

      

</div>


