@model Bookish.Models.UserListModel;
@using System.Collections.Generic; 


<div>
    <ol>
     @foreach (var person in @Model.UserList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(User => person.UserName)
                </td>
                <td>
                    @Html.DisplayFor(User =>person.UserDOB)
                </td>
                <td>
                    @Html.DisplayFor(User =>person.AmountBorrowedByUser)
                </td>
                <td>
                    @*<button action="" type="submit"  value ="delete this user"/>
                    <a asp-action="Edit" asp-route-id="@person.Id">Edit</a> ||*@
                    <a asp-action="Delete" asp-route-id="@person.UserId">Delete</a> 
                </td>
            </tr>
        }

</ol>

      

</div>


