@model Bookish.Models.UserListModel;
@using System.Collections.Generic;


<div>
    <table>
        @foreach (var person in @Model.UserList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(User => person.UserName)
                </td>
                <td>
                    @Html.DisplayFor(User =>person.UserDOB)
                </td>
                <td>
                    @Html.DisplayFor(User =>person.AmountBorrowedByUser)
                </td>
                <td>
                    <form asp-controller="Accounts" method="POST" asp-action="Delete" asp-route-id="@person.UserId"><button
                            type="submit"> Delete</button></form>
                </td>
            </tr>
        }

    </table>



</div>
