@model Bookish.Models.BookModel

<div>
    @using (Html.BeginForm("addOneBookForm", "book", FormMethod.Post))
    {

        <h1>Please enter a book here</h1>
        
            <table>
                <tr>
                    <th colspan="2" align="center">Book Details</th>

                </tr>
                <tr>
                    <td>BookTitle</td>
                    <td>@Html.TextBoxFor(m => m.BookTitle)</td>

                </tr>
                <tr>
                    <td>BookAuthor</td>
                    <td>@Html.TextBoxFor(m => m.BookAuthor)</td>

                </tr>
                <tr>
                    <td>BookYear</td>
                    <td>@Html.TextBoxFor(m => m.BookYear)</td>

                </tr>

                <tr>
                    <td>BookTotalCopies</td>
                    <td>@Html.TextBoxFor(m => m.BookTotalCopies)</td>

                </tr>
                <tr>
                    <td>BookAvailableCopies</td>
                    <td>@Html.TextBoxFor(m => m.BookAvailableCopies)</td>
                </tr>

                <tr>
                    <td>BookBorrowedCopies</td>
                    <td>@Html.TextBoxFor(m => m.BookBorrowedCopies)</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit"/></td>
                </tr>

            </table>
            
        
    }
</div>
